[Desktop Entry]
Name=mTiles
Exec=mTiles
Icon=mtiles
Type=Application
Categories=Development;System;TerminalEmulator;
Comment=Cross-platform terminal manager
Terminal=false
